

services:
  mysql:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_USER: "mysql"
      MYSQL_PASSWORD: "mysql"
      MYSQL_DATABASE: "mysql"
      MYSQL_ROOT_PASSWORD: "mysql"
    ports:
      - "3306:3306"
    expose:
      - "3306"